extends layout

block content
    form(action='/api/MagoyanTigran/lab1/ex22/exec')
        span Enter the array:
        input(type='text' name='arr')
        br
        span Enter the number of elements:
        input(type='text' name='n')
        br
        input(type='submit')