doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block navigation
            h2 Navigation
            ul
                li <a href= '/api/MagoyanTigran/lab1/ex9/input'> First task </a>
                li <a href= '/api/MagoyanTigran/lab1/ex12/input'> Second task </a>
                li <a href= '/api/MagoyanTigran/lab1/ex22/input'> Third task </a>
        hr
        block content
            h3 Welcome to my express web app
        hr
        block footer
            footer Made by Magoyan Tigran
